:root {
    --white: #fff;
    --green: #119822;
    --wooden: #a98467;
    --darkWooden: #6c584c;
    --blue: #00bbf9;
    --yellow: #fee440;
    --lightYellow: #e8da8f;
    --pink: #f15bb5;
    --aqua: #00f5d4;
    --black: #333;
    --grey: #6c757d;
    --darkGrey: #5e6572;
    --red: #ef233c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(var(--pink) -55%, var(--blue) 75%);
}

.grass {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25vh;
    width: 100vw;
    background-color: var(--green);
    overflow: hidden;
    box-shadow: 0px 0px 3px var(--white);
}

.lake {
    position: relative;
    left: 10%;
    bottom: 5%;
    width: 300px;
    height: 100px;
    background-color: var(--aqua);
    border-radius: 50%;
    box-shadow: 10px 20px 5px var(--lightYellow);
}

.lake::before {
    content: "";
    position: absolute;
    left: 5%;
    bottom: -50%;
    width: 150px;
    height: 100px;
    background-color: var(--aqua);
    border-radius: 70%;
    transform: translate(-50%, -50%);
    box-shadow: -10px -5px 5px var(--lightYellow), -15px 5px 5px var(--lightYellow), -15px 11px 5px var(--lightYellow);
}

.lake::after {
    content: "";
    position: absolute;
    left: 95%;
    bottom: -25%;
    width: 200px;
    height: 100px;
    background-color: var(--aqua);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 30px 5px 5px var(--lightYellow);
}

.windmill {
    position: absolute;
    left: 55%;
    bottom: 25%;
    width: 200px;
    height: 325px;
    background-color: var(--red);
    border: 1px solid var(--black);
    z-index: 1;
}

.windmill::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 150%;
    background-color: var(--black);
    border: 1px solid var(--black);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    transform: translate(-50px, 1px);
}

.windmill::after {
    content: "";
    position: absolute;
    top: -25%;
    width: 100%;
    height: 85px;
    background-color: var(--darkGrey);
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    border: 1px solid var(--black);
    transform: translateX(-1px);
}

.windmill-window {
    position: relative;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(168, 218, 220, 0.5);
    border: 1px solid var(--black);
    transform: translate(-50%, -50%) rotate(45deg);
}

.windmill-window::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 67px;
    background-color: var(--darkWooden);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-radius: 5px;
    transform-origin: top left;
    transform: rotate(-45deg) translate(-50%, 0);
}

.windmill-window::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 66px;
    background-color: var(--darkWooden);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-radius: 5px;
    border: 1px solid var(--black);
    transform-origin: top right;
    transform: rotate(45deg) translate(50%, 0);
}

.windmill-window:nth-of-type(1) {
    top: 25%;
}

.windmill-window:nth-of-type(2) {
    top: 50%;
}

.windmill-blades {
    position: relative;
    top: -45%;
}

.windmill-blade {
    position: absolute;
    left: 22.5%;
    width: 110px;
    height: 20px;
    background-color: var(--wooden);
    border: 1px solid var(--black);
    z-index: 2;
}

.windmill-blade::after {
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    height: 50px;
    background-color: var(--white);
    border-bottom-left-radius: 125px;
    box-shadow: -5px 5px 5px var(--black);
}

.windmill-blade:nth-of-type(1) {
    box-shadow: 0 5px 5px var(--black);
    transform: translateX(-55%);
    animation: spinBlade1 5s linear infinite;
}

.windmill-blade:nth-of-type(2) {
    box-shadow: 0 5px 5px var(--black);
    transform: rotate(90deg) translateX(-55%);
    animation: spinBlade2 5s linear infinite;
}

.windmill-blade:nth-of-type(3) {
    box-shadow: 0 5px 5px var(--black);
    transform: rotate(180deg) translateX(-55%);
    animation: spinBlade3 5s linear infinite;
}

.windmill-blade:nth-of-type(4) {
    box-shadow: 0 5px 5px var(--black);
    transform: rotate(270deg) translateX(-55%);
    animation: spinBlade4 5s linear infinite;
}

.windmill-blades .windmill-circle {
    position: relative;
    left: 100px;
    width: 31px;
    height: 30px;
    transform: translate(-50%, -15%);
    background-color: var(--grey);
    border-radius: 50%;
    border: 1px solid var(--black);
    z-index: 3;
}

.windmill-blades .windmill-circle::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--black);
}

.sun {
    position: fixed;
    left: -15%;
    top: 15%;
    width: 125px;
    height: 125px;
    background-color: var(--yellow);
    border-radius: 50%;
    box-shadow:
        0 0 0 20px #FFDE0080,
        0 0 0 40px #FFDE0040,
        0 0 0 60px #FFDE0020,
        0 0 0 80px #FFDE0010,
        0 0 0 100px #FFDE0000,
        0 0 40px 100px #FFDE0010;
    animation:
        sunRise 2s infinite linear forwards,
        rays 2s 2s infinite linear,
        sunMove 60s infinite linear;
}

@keyframes sunMove {
    form {
        transform: translateX(-10vw);
    }

    to {
        transform: translateX(130vw);
    }
}

@keyframes sunRise {
    0% {
        box-shadow: none;
    }
}

@keyframes rays {
    0% {
        box-shadow:
            0 0 0 0 #FFDE0080,
            0 0 0 20px #FFDE0080,
            0 0 0 40px #FFDE0040,
            0 0 0 60px #FFDE0020,
            0 0 0 80px #FFDE0010,
            0 0 40px 100px #FFDE0010;
    }

    100% {
        box-shadow:
            0 0 0 20px #FFDE0080,
            0 0 0 40px #FFDE0040,
            0 0 0 60px #FFDE0020,
            0 0 0 80px #FFDE0010,
            0 0 0 100px #FFDE0000,
            0 0 40px 100px #FFDE0010;
    }
}

@keyframes spinBlade1 {
    from {
        transform: rotate(0deg) translateX(-55%);
    }

    to {
        transform: rotate(90deg) translateX(-55%);
    }
}

@keyframes spinBlade2 {
    from {
        transform: rotate(90deg) translateX(-55%);
    }

    to {
        transform: rotate(180deg) translateX(-55%);
    }
}

@keyframes spinBlade3 {
    from {
        transform: rotate(180deg) translateX(-55%);
    }

    to {
        transform: rotate(270deg) translateX(-55%);
    }
}

@keyframes spinBlade4 {
    from {
        transform: rotate(270deg) translateX(-55%);
    }

    to {
        transform: rotate(360deg) translateX(-55%);
    }
}