:root {
    --white: #fff;
    --darkWooden: #6c584c;
    --blue: #00bbf9;
    --yellow: #fee440;
    --pink: #f15bb5;
    --black: #333;
    --grey: #6c757d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(var(--pink) -55%, var(--blue) 75%);
    overflow: hidden;
}

.grass {
    position: absolute;
    bottom: 0;
    left: 50vw;
    height: 45vh;
    width: 65%;
    min-width: 1200px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: linear-gradient(180deg, rgba(47, 215, 69, 1) 0%, rgba(35, 176, 53, 1) 10%, rgba(17, 152, 34, 1) 100%);
    overflow: hidden;
    box-shadow: 0px 0px 3px var(--white);
    transform: translate(-50%, 50%);
}

.sun {
    position: fixed;
    left: -15%;
    top: 15%;
    width: 125px;
    height: 125px;
    background-color: var(--yellow);
    border-radius: 50%;
    box-shadow:
        0 0 0 20px #FFDE0080,
        0 0 0 40px #FFDE0040,
        0 0 0 60px #FFDE0020,
        0 0 0 80px #FFDE0010,
        0 0 0 100px #FFDE0000,
        0 0 40px 100px #FFDE0010;
    animation:
        rays 2s 2s infinite linear,
        sunMove 60s infinite linear;
}

@keyframes sunMove {
    to {
        transform: translateX(130vw);
    }
}

@keyframes rays {
    from {
        box-shadow:
            0 0 0 0 #FFDE0080,
            0 0 0 20px #FFDE0080,
            0 0 0 40px #FFDE0040,
            0 0 0 60px #FFDE0020,
            0 0 0 80px #FFDE0010,
            0 0 40px 100px #FFDE0010;
    }

    to {
        box-shadow:
            0 0 0 20px #FFDE0080,
            0 0 0 40px #FFDE0040,
            0 0 0 60px #FFDE0020,
            0 0 0 80px #FFDE0010,
            0 0 0 100px #FFDE0000,
            0 0 40px 100px #FFDE0010;
    }
}

.windmill {
    position: absolute;
    left: 50%;
    bottom: 22%;
    width: 200px;
    height: 325px;
    background: linear-gradient(90deg, rgba(211, 211, 211, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(211, 211, 211, 1) 100%);
    ;
    z-index: 1;
    transform: translateX(-50%);
}

.windmill::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 150%;
    background: linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(105, 105, 105, 1) 88%, rgba(255, 255, 255, 1) 100%);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    transform: translate(-50px, 1px);
}

.windmill::after {
    content: "";
    position: absolute;
    top: -35%;
    left: -7.5%;
    width: 115%;
    height: 35%;
    background: linear-gradient(0deg, rgba(108, 88, 76, 1) 0%, rgba(169, 132, 103, 1) 100%);
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.windmill-window {
    position: relative;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(168, 218, 220, 0.5);
    border: 1px solid var(--black);
    transform: translate(-50%, -50%) rotate(45deg);
}

.windmill-window::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 67px;
    background-color: var(--darkWooden);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-radius: 5px;
    transform-origin: top left;
    transform: rotate(-45deg) translate(-50%, 0);
}

.windmill-window::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 66px;
    background-color: var(--darkWooden);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-radius: 5px;
    border: 1px solid var(--black);
    transform-origin: top right;
    transform: rotate(45deg) translate(50%, 0);
}

.windmill-window:nth-of-type(1) {
    top: 25%;
}

.windmill-window:nth-of-type(2) {
    top: 50%;
}


.windmill-blades {
    position: relative;
    top: -45%;
}

.windmill-blades .windmill-circle {
    position: relative;
    left: 50%;
    width: 32px;
    height: 32px;
    transform: translate(-50%, -15%);
    background-color: var(--grey);
    border-radius: 50%;
    border: 1px solid var(--black);
    z-index: 3;
}

.windmill-blades .windmill-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: var(--black);
    transform: translate(-50%, -50%);
}

.windmill-blade {
    position: absolute;
    width: 400px;
    height: 20px;
    background-color: var(--darkWooden);
    z-index: 2;
    transform-origin: 50% 50%;
}

.windmill-blade.first-blade {
    transform: translate(-25%, -150%);
    animation: spinBlade 11s linear infinite;
}

.windmill-blade.second-blade {
    transform: translate(-25%, -150%) rotate(90deg);
    animation: spinBlade-second 11s linear infinite;
}

.windmill-blade::after {
    content: "";
    position: absolute;
    left: -15%;
    width: 40%;
    height: 60px;
    border-top: 5px solid var(--darkWooden);
    border-right: 5px solid var(--darkWooden);
    background: linear-gradient(transparent 40%, hsl(0 0% 0% / 0.125) 0 60%, transparent 0) center / 100% 10%,
        linear-gradient(90deg, transparent 40%, hsl(0 0% 0% / 0.125) 0 60%, transparent 0) center / 20% 100% var(--white);
    border-bottom-left-radius: 50%;
}

.windmill-blade::before {
    content: "";
    position: absolute;
    right: -15%;
    top: calc(-200% - 5px);
    width: 40%;
    height: 60px;
    border-bottom: 5px solid var(--darkWooden);
    border-left: 5px solid var(--darkWooden);
    background: linear-gradient(transparent 40%, hsl(0 0% 0% / 0.125) 0 60%, transparent 0) center / 100% 10%,
        linear-gradient(90deg, transparent 40%, hsl(0 0% 0% / 0.125) 0 60%, transparent 0) center / 20% 100% var(--white);
    border-top-right-radius: 50%;
}

@keyframes spinBlade {
    to {
        transform: translate(-25%, -150%) rotate(360deg);
    }
}

@keyframes spinBlade-second {
    to {
        transform: translate(-25%, -150%) rotate(450deg);
    }
}